#  ************************************************************************
#  Copyright (c) since 2025, Dhanush H V. All rights reserved.
#  Licensed under the MIT License. See the LICENSE file for more details
#  *************************************************************************

CompileFlags:
  Add:
    - -Iinclude
    - -Iextras/unity/src