#  ************************************************************************
#  Copyright (c) since 2025, Dhanush H V. All rights reserved.
#  Licensed under the MIT License. See the LICENSE file for more details
#  *************************************************************************

.cache/
.vscode/
.idea/

logs/
out/

*.exe
.env*
