#  ************************************************************************
#  Copyright (c) since 2025, Dhanush H V. All rights reserved.
#  Licensed under the MIT License. See the LICENSE file for more details
#  *************************************************************************

[submodule "extras/unity"]
	path = extras/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
